body{
    background-color: #262A3C;
}

.card{
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border: none;
}

.user_profile{
    display: inline-block;
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav {
    gap: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-link {
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #5B6284;
    border-radius: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.05);
}

.bg-dark {
    background-color: #000000 !important;
}

.btn-primary {
    background-color: #5B6284;
    border-color: #5B6284;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #6d7292;
    border-color: #6d7292;
    color: rgba(255, 255, 255, .5);
}

.btn-primary:active {
    background-color: #4A516E;
    border-color: #4A516E;
}

.form-control {
    background-color: #5B6284; /
    color: #ffffff;
    border: 1px solid #5B6284;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #d3d3d3;
}

.form-control:focus {
    background-color: #5B6284;
    border-color: #ffffff;
    outline: none;
}

a{
    color: #5B6284;
}



