body{
    background-color: #ddc8b9;
}

.user_profile, .btn_basket {
    display: inline-block;
    margin: 0;
}

.user_profile img, .btn_basket img {
    width: 40px;
    height: auto;
}

.user_profile {
    margin-right: 10px;
}

.nav-link {
    position: relative;
    color: #007bff;
    text-decoration: none;
    padding: 5px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ddc8b9;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}