body {
    background-color: #ddc8b9;
}


.container {
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.table-responsive {
    margin: 20px 0;
}

.user_profile {
    display: inline-block;
    margin: 0;
}

.user_profile img {
    width: 40px;
    height: auto;
}

.user_profile {
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.bg-dark {
    background-color: #343a40 !important; /* Цвет фона, если требуется */
}

.nav-link {
    position: relative;
    color: #007bff;
    text-decoration: none;
    padding: 5px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ddc8b9;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.table td, .table th {
    padding: .50rem;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}

.tr-text {
    position: sticky; /* Фиксируем элемент */
    left: 0;
    z-index: 1;
    font-weight: bold;
    background-color: white;
}

.table-responsive {
    overflow-x: auto; /* Прокрутка по горизонтали */
}

table th, table td {
    min-width: 100px; /* Минимальная ширина ячеек */
}