<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/authorization.css">
    <link rel="icon" href="/img/header_icon/favicon_bicycle.png" type="image/png">

</head>
<body>
<header class="bg-dark py-3">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">УЧЕБНЫЙ ПЛАН</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/competency">МАТРИЦА КОМПЕТЕНЦИЙ</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/compare">ПРОВЕРКА</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <a href="/authorization/" class="user_profile">
                    <img src="/img/header_icon/user_icon.png" alt="Профиль" style="width: 35px; height: 35px;">
                </a>
            </div>
        </nav>
    </div>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form class="login-form" th:action="@{/authorization/authentification}" th:object="${authUser}" method="post">
                        <h2 class="card-title text-center">АВТОРИЗАЦИЯ</h2>
                        <div class="form-group">
                            <input type="text" id="login" placeholder="Логин" th:field="*{login}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" placeholder="Пароль" th:field="*{password}" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">ВОЙТИ</button>
                        <br><span class="text-danger" th:text="${error}"></span>
                        <p class="text-center my-3">Нет аккаунта? Нажмите <a href="/registration/">здесь</a>.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
