<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare Results</title>
    <link rel="stylesheet" href="/css/compare.css">
</head>
<body>
<h1>Результаты сравнения</h1>
<table border="1">
    <tr>
        <th>#</th>
        <th>Название дисциплины</th>
        <th>Описание ошибки</th>
    </tr>
    <th:block th:each="error, iterStat : ${errors}">
        <tr>
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${#strings.contains(error, ':') ? error.split(':')[1] : 'Неизвестно'}">Название дисциплины</td>
            <td th:text="${#strings.contains(error, ':') ? error.split(':')[0] : 'Неизвестное описание'}">Описание ошибки</td>

        </tr>
    </th:block>
</table>

<form action="/excel/download" method="post">
    <input type="hidden" name="errors" th:value="${errors}" />
    <button type="submit">Сохранить</button>
</form>

</body>
</html>
