<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Матрица конмпетенций</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/competency.css">
</head>

<body>
<header class="bg-dark py-3">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">УЧЕБНЫЙ ПЛАН</a>
                    </li>
                    <li>
                        <a class="nav-link active-competency" href="/competency">МАТРИЦА КОМПЕТЕНЦИЙ</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/compare">ПРОВЕРКА</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <a href="/authorization/" class="user_profile">
                    <img src="/img/header_icon/user_icon.png" alt="Профиль" style="width: 35px; height: 35px;">
                </a>
            </div>
        </nav>
    </div>
</header>

<main class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="tr-text">#</th>
                <th th:each="colIndex : ${#numbers.sequence(0, data[0].size() - 1)}"
                    th:text="${colIndex + 1} + X" style="background-color: #000000;"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row, rowStat : ${data}" th:if="${row != null && !row.isEmpty()}">
                <td class="tr-text" th:text="${rowStat.index + 1} + Y"></td>
                <td th:each="cell : ${row}" th:text="${cell != null ? cell : ''}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>