<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/personalAccount.css">
    <link rel="icon" href="/img/header_icon/favicon_bicycle.png" type="image/png">
</head>
<body>
<header class="bg-dark py-3">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <a href="/personalAccount/logout" class="btn btn-primary">Выйти</a>
            </div>
        </nav>
    </div>
</header>
<div class="container mt-5">
    <h1 class="text-left">Добро пожаловать <span th:text="${currentUser.firstName}"></span> <span th:text="${currentUser.secondName}"></span>!</h1>
    <p class="text-left" style="margin-top: 20px;">Почта: <span th:text="${currentUser.email}"></span></p>
    <p class="text-left">Пол: <span th:text="${currentUser.gender}"></span></p>
    <p class="text-left">Дата регистрации: <span th:text="${currentUser.creationDate}"></span></p>
    <form th:action="@{/personalAccount/}" method="post" th:object="${currentUser}"></form>
</div>
</body>
</html>
