<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/css/authorization.css">
    <link rel="icon" href="/img/header_icon/favicon_bicycle.png" type="image/png">
</head>
<body>
<header class="bg-dark py-3">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <a href="/authorization/" class="user_profile">
                    <img src="/img/header_icon/user_icon.png" alt="Профиль">
                </a>
            </div>
        </nav>
    </div>
</header>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form class="registration-form mx-auto text-center" th:action="@{/registration/addUser}" method="post" th:object="${captcha}">
                        <h2 class="mb-4">Регистрация</h2>
                        <div class="form-group">
                            <input type="text" id="firstName" class="form-control" th:field="${user.firstName}" placeholder="Имя" pattern="[А-Яа-яA-Za-z]{2,15}" title="Пожалуйста введите корректное имя (2-15 символов русской раскладки)" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="secondName" class="form-control" th:field="${user.secondName}" placeholder="Фамилия" pattern="[А-Яа-яA-Za-z]+(-[А-Яа-яA-Za-z]+)?(\s[А-Яа-яA-Za-z]+(-[А-Яа-яA-Za-z]+)?)?" title="Пожалуйста, введите правильную фамилию (от одного или из двух слов, каждое от 2 до 15 символов с одним разделителем)" required>
                        </div>
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" th:field="${user.email}" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="login" class="form-control" th:field="${user.login}" placeholder="Логин" pattern=".{6,}" title="Логин должен быть длиннее 6 символов" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" th:field="${user.password}" placeholder="Пароль" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" title="Пароль должен содержать не менее 8 символов и содержать по крайней мере одну цифру, одну заглавную букву, одну строчную букву и один специальный символ" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="confirmPassword" class="form-control" th:field="${user.confirmPassword}" placeholder="Подтверждение пароля" required>
                        </div>
                        <div class="form-group">
                            <div>
                                Пол:
                                <input type="radio" name="gender" id="male" value="М" th:field="${user.gender}" required>
                                <label for="male">Муж.</label>
                                <input type="radio" name="gender" id="female" value="Ж" th:field="${user.gender}" required>
                                <label for="female">Жен.</label>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="accept_rules" id="accept_rules" required>
                            <label class="form-check-label" for="accept_rules">Я соглашаюсь на обработку персональных данных</label>
                        </div>

                        <div>
                            <input type="image" id="image" th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"/>
                            <input type="hidden" th:field="*{hiddenCaptcha}">
                            <br><lable for = "captchatext"> Введите текст капчи </lable></br>
                            <input type="text" id="captchatext" th:field="*{captcha}"/>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                        <p class="text-center my-3">Уже есть аккаунт? Нажмите <a href="/authorization/">здесь</a>, чтобы войти.</p>

                        <div th:if="${error!=null}">
                            <span class="error-message" th:text="${error}"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
